<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>ZarpeOQue</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:replace="~{productos/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{productos/fragmentos :: listadoProductos}"/>
        <section th:replace="~{productos/fragmentos :: agregar}"/>


        <footer th:replace="~{layout/plantilla :: footer}"/>      
      
    </body>
</html>