<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Categorías</title>
</head>
<body>
<header th:replace="~{layout/plantilla :: header}"/>

<section th:replace="~{categorias/fragmentos :: botonesAgregar}"/>
<section th:replace="~{categorias/fragmentos :: listadoCategorias}"/>
<section th:replace="~{categorias/fragmentos :: agregar}"/>


<footer th:replace="~{layout/plantilla :: footer}"/>      
</body>
</html>
